.spasi {
    margin-bottom: 15px;
    margin-top: 5px;
}

.spasiBig {
    margin-bottom: 30px;
    margin-top: 5px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: rgb(217, 233, 173);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif; 
}

.container{
    position: absolute;
    margin-top: 50px;
    left: 50%;
    top: 5%;
    bottom: 5%;
    transform: translate(-50%, 0%);
}

.box{
    min-width: 400px;
    background: #fafafa;
    border-radius: 40px;
    text-align: center;
    position: relative;

}

.box::before {
    content: "";
    position: absolute;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    z-index: -1;
}

h1 {
    font-weight: bold;
    color:  rgb(92, 92, 32);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
       font-size: 34px;
}

.input {
    background: #fff;
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
    border-radius: 28px;
    padding: 20px 0;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

.input label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

.input input{
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(217, 233, 173);
    width: 60%;
    text-align: center;
    font-size: 28px;
    font-family: sans-serif;
}

button#btn {
  font-family: "Nunito", sans-serif;
  color: #fff;
  background:  rgb(129, 128, 54);
  font-size: 16px;
  border-radius: 12px;
  padding: 12px 0;
  width: 85%;
  outline: none;
  border: none;
  transition: transform 0.2s ease;
}

button#btn:hover {
  background: rgb(163, 197, 68);
  transform: scale(95%);
}

.result {
  padding: 30px 20px;
}
.result p {
  font-weight: 600;
  font-size: 22px;
  color: #000;
  margin-bottom: 15px;
}

.result #result {
  font-size: 36px;
  font-weight: 900;
  color: #4f7df9;
  background-color: #eaeaea;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 55px;
  margin-bottom: 25px;
}

p {
    font-size: 15px;
    margin-bottom: 50px;
    color: brown;
}

